/*
0. Selectores generales
1. Tipografia
2. Cabecera
3. Seccion destacada
4. Seccion contenido multimedia
5. Seccion footers



/*

/* 0. Selectores generales */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*Evita que el ancho se sume al padding*/
}

:root{
    --color-principal: #7e075e;
    --color-acento: #05727e;
    --color-acento2: #ad6a05;
    --color-texto: #2a2a2a;
}

.hide-element{
    display: none;
}

.flex-elements{
    display: flex;
    align-items: stretch;
    justify-content: space-between;
}

img{
    width: 100%;
}



/* 1. Tipografia*/
h1{
    font-family: "Hammersmith One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 60px;
    color: var(--color-principal);
}

h2{
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 35px;
    color: var(--color-acento);
    /*orden los titulos de seccion*/
    text-align: center;
    margin: 30px 0 20px 0;
}

h3{
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 26px;
    color: var(--color-acento);
}

p{
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    color: var(--color-texto);
    text-align: justify;
}

.texto-info{
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    font-size: 15px;
    color: var(--color-texto);
    text-align: justify;
}


/* 2. Cabecera*/
#cabecera-web{

    /*Relleno interno*/
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /*border-bottom: grosor estilo color*/
    border-bottom: 3px solid var(--color-principal);
}

.bt-principal{
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    text-decoration: none;
    color: white;
    background: var(--color-principal);
    padding: 8px 15px;
    margin:  5px;
    border-radius: 6px;
    /*animacion por transicion: duracion caracteristica animacion */
    transition: 0.3s  all linear;
}

.bt-principal:hover{
    background: var(--color-acento);
    padding: 8px 20px;
}

.logo-sitio {
  width: 300px; 
  max-width: 100%;
  height: auto;
}



/* 3. Seccion destacada*/

/* ================================== */
@media (max-width: 600px) {
    #cabecera-web{
        flex-direction: column;
    }

    #cabecera-web > nav{
        width: 100%;
    }

    .bt-principal {
        display: block;
        width: 100%;
        text-align: center;
        border-radius: 0%;
    }

    .flex-elements{
        flex-direction: column;
    }

}

#destacado{
    padding: 70px 0;
}


.ver-mas{
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 13px;
    text-decoration: none;
    color: rgb(254, 254, 254);
    display: inline-block;
    margin: 15px 0;
    background: var(--color-principal);
    padding: 8px 13px;
    border-radius: 6px;
    /*animacion por transicion: duracion caracteristica animacion */
    transition: 0.3s  all linear;
}

.ver-mas:hover{
    background: var(--color-acento);
    padding: 8px 16px;
}

.articulo-index{
    margin: 10px 15px;
    padding: 10px;
    box-shadow: 0 0 7px rgb(55, 0, 44);
    border-radius: 3%;
}


/* 4. Seccion contenido multimedia */

#Contenido-multimedia{
    background-color: #2B6E73;
    padding: 100px 0;
}

#Contenido-multimedia h2{
    color: white;
    padding: 0 0 30px 0;
}




/* 5. Seccion footers*/

.footer-brand {
    display: flex;         /* 1. Convierte el contenedor en Flexbox */
    justify-content: center; /* 2. Centra horizontalmente */
    align-items: center;     /* 3. Centra verticalmente */
}

.footer-brand img {
    width: 250px;
    height: auto;
    padding: 20px 0 0 0;
}

.footer-columns {
  display: flex;
  flex-direction: row;        /* Organiza los elementos en horizontal */
  justify-content: space-between; /* Distribuye el espacio entre columnas */
  gap: 30px;                  /* Espacio entre cada columna */
  align-items: flex-start;    /* Alinea los títulos en la parte superior */
}

.footer-columns nav {
  flex: 1;                   /* Todas las columnas medirán lo mismo de ancho */
}

.footer-columns ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
